<div class="container">

  <div id="anonymousPanel" style="display: none; padding: 15px; text-align: center;">
    <span id="sign-in" class="action">Sign In</span> and view your ArcGIS Online
    items.
  </div>

  <div id="personalizedPanel" style="display: none; padding: 15px; text-align: center;">
    Welcome <span id="userId" style="font-weight: bold;"></span> &nbsp;-&nbsp;
    <span id="sign-out" class="action">Sign Out</span>
  </div>

  <div id="itemGallery" class="esri-item-gallery" style="width: 100%;"></div>
  
</div>


